@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Quicksand;
    src: url('/static/Quicksand-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'Quicksand', sans-serif;
  }

  :root {
    --color-text-markdown: #ffffff;
    --text-base: #fff;
  }

  .dark-theme {
    --text-base: #fff;
    --bg-base: #181818;
    background-color: var(--bg-base);
  }
}

html {
  scroll-behavior: smooth;
}
