@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-markdown: #ffffff;
    --text-base: #fff;
  }

  .dark-theme {
    --text-base: #fff;
    --bg-base: #181818;
    background-color: var(--bg-base);
  }
}

html {
  scroll-behavior: smooth;
}
